@tailwind base;
@tailwind components;
@tailwind utilities;

p::selection,
p strong::selection,
p b::selection {
    background-color: #f04e23;
    color: white;
}

.container {
    @apply px-4 mx-auto max-w-7xl;
}

.button-card {
    @apply w-full px-4 py-2 font-bold text-white transition-colors duration-300 ease-in rounded-md bg-secondary-500 hover:bg-primary-500;
}

.custom-swiper {
    --swiper-theme-color: #f04e23;
}

.contact-input {
    @apply w-full p-4 border rounded-lg outline-none focus:border-primary-500 focus:ring-transparent border-secondary-500;
}
